body{
    margin: 0;
    font-family: sans-serif;

}

.bg-image{
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1530569673472-307dc017a82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
h1{
    font-size: 50px;
}

p{
    color: grey;
}

@media (
    max-width:500px
){

    .container{
        padding: 10px;
    }
}